body
{
background-color: white;
}

td
{
  height: 150px;
  width: 150px;
  border: 5px solid black ;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  font-family: "Fredoka One", Helvetica, sans-serif;
  font-size: 70px;
  cursor: pointer;
}
table
{
  position: absolute;
  margin-left: 415px;
  top: 120px;
}

.endgame{
  display: none;
  width: 200px;
  top: 120px;
  background-color: #ffa435;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 32px;
}
.long-shadow {
  padding-top: 10px;
  cursor: context-menu;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;
  color: white;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 3px 3px 0 #6dc1e0 , 4px 4px 0 #6dc1e0, 5px 5px 0 #6dc1e0 , 6px 6px 0 #6dc1e0 , 7px 7px 0 #6dc1e0 , 8px 8px 0 #6dc1e0 , 9px 9px 0 #6dc1e0 , 10px 10px 0 #6dc1e0 , 11px 11px 0 #6dc1e0 , 12px 12px 0 #6dc1e0 , 13px 13px 0 #6dc1e0 , 14px 14px 0 #6dc1e0 , 15px 15px 0 #6dc1e0 , 16px 16px 0 #6dc1e0, 17px 17px 0 #6dc1e0 , 18px 18px 0 #6dc1e0 , 19px 19px 0 #6dc1e0 , 20px 20px 0 #6dc1e0 ;
}
